# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

package-lock.json
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/
dist/
build/
.env
.env.local
.env.*.local
.npm/
coverage/
*.log
.vscode/
.idea/


# src-tauri generierte Dateien ignorieren, außer manuell gepflegte Android-Configs:
JL-Manager/src-tauri/*
!JL-Manager/src-tauri/gen/
JL-Manager/src-tauri/gen/*
!JL-Manager/src-tauri/gen/android/
JL-Manager/src-tauri/gen/android/*
!JL-Manager/src-tauri/gen/android/app/
JL-Manager/src-tauri/gen/android/app/*
!JL-Manager/src-tauri/gen/android/app/src/
JL-Manager/src-tauri/gen/android/app/src/*
!JL-Manager/src-tauri/gen/android/app/src/main/
JL-Manager/src-tauri/gen/android/app/src/main/*
!JL-Manager/src-tauri/gen/android/app/src/main/res/
!JL-Manager/src-tauri/gen/android/app/src/main/AndroidManifest.xml
!JL-Manager/src-tauri/gen/android/app/src/main/java/
JL-Manager/src-tauri/gen/android/app/src/main/java/*
!JL-Manager/src-tauri/gen/android/app/src/main/java/com/
JL-Manager/src-tauri/gen/android/app/src/main/java/com/*
!JL-Manager/src-tauri/gen/android/app/src/main/java/com/ben/
JL-Manager/src-tauri/gen/android/app/src/main/java/com/ben/*
!JL-Manager/src-tauri/gen/android/app/src/main/java/com/ben/jl_manager/
JL-Manager/src-tauri/gen/android/app/src/main/java/com/ben/jl_manager/*
!JL-Manager/src-tauri/gen/android/app/src/main/java/com/ben/jl_manager/InstallPlugin.kt
!JL-Manager/src-tauri/gen/android/app/src/main/java/com/ben/jl_manager/MainActivity.kt
JL-Manager/src-tauri/gen/android/app/src/main/res/*
!JL-Manager/src-tauri/gen/android/app/src/main/res/xml/
JL-Manager/src-tauri/gen/android/app/src/main/res/xml/*
!JL-Manager/src-tauri/gen/android/app/src/main/res/xml/network_security_config.xml
JL-Manager/src/
Builds/
*.keystore
